<mat-card class="my-5">
    <h2 class="mb-3">Contact Details</h2>
    <form [formGroup]="thirdFormGroup">
        <h4>Address Section *</h4>
        <app-address (formReset)='resetForm()'></app-address>

        <h4>Phone Section *</h4>
        <app-phone></app-phone>

        <h4>Email Section *</h4>
        <app-email></app-email>

        <h4>Social Media Section</h4>
        <app-social></app-social>
    </form>
</mat-card>
<div class="mt-3 clearfix">
    <button mat-raised-button color='primary' matStepperPrevious class="back">Back Step</button>
    <button (click)="displayData()" [disabled]="!addOrganizationService.isContactDetailsFormValid()" mat-raised-button color='primary' matStepperNext class="float-right next">Next Step</button>
</div>