<section class="bg-light-yellow">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="font-30 text-left">
                    <img src="../../../../assets/images/logo2.png" class="logo" alt="logo"> <span>NTA e Solutions Private Limited</span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <h5 class="pt-lg-4 text-blue enquEmail">
                    <span><i class="fas fa-phone-square-alt"></i> <a class="enqu" href="tel:9123456987"> 9123456987</a></span> <span class="dx-block-a">||</span>
                    <span><i class="fas fa-phone-square-alt"></i> <a class="enqu" href="mailto:abcd@gmail.com"> abcd@gmail.com</a></span>
                </h5>
            </div>
        </div>
    </div>
 </section>