<div class="bg-light-blue" style="height: 600px;">
  <section class="pt-4 pb-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <h5 class="text-white pt-1 text-blue text-left text-capitalize"><i class="fas fa-arrows-alt"></i>
            View Modules <span class="float-right"><a class="btn mb-3 text-white" routerLink="../">
                <i class="fas fa-tachometer-alt"></i> Dashboard </a></span>
          </h5>
          <hr class="hr-white">
        </div>

      </div>
    </div>
  </section>

  <section class="stu-dashboard cus-pay-wave">
    <div class="container">

      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <table class="table table-bordered" style="background-color: aliceblue;">
            <thead>
              <tr>
                <th scope="col">Sl No</th>
                <th scope="col">Parent Module</th>
                <th scope="col">Module Name</th>
                <th scope="col">Connected Modules</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of finalItems ; let  i = index">
                <td>{{i + 1}}</td>
                <td>{{item.parentModule}}</td>
                <td>{{item.moduleName}}</td>
                <td>{{item.connectedModules}}</td>

                <td>
                  <button routerLink="../edit-module/{{item.masterId}}" [queryParams]="{ params: item | json}"
                    id="cusEdit" class="btn-dark-blue-light btn btn-sm"><i class="fas fa-edit"></i></button>
                  <button href="#" id="cusEdit" (click)="onDelete(item.masterId)"
                    class="btn-dark-blue-light btn btn-sm"><i class="fas fa-trash-alt"></i></button>
                  <button *ngIf="item.isActivated==true" (click)="onDeactivate(item.masterId)" href="#"
                    id="cusEdit" class="btn-dark-blue-light btn btn-sm"><i class="fas fa-ban"></i></button>
                  <button *ngIf="item.isActivated==false" (click)="onActivate(item.masterId)" href="#" id="cusEdit"
                    class="btn-dark-blue-light btn btn-sm"><i class="fas fa-check-circle"></i></button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

    </div>
  </section>

  <!-- <footer class="py-2 bg-dark">
      <div class="container">
          <p class="m-0 text-center text-white">
              &copy;
              <script type="text/javascript">
                  document.write(new Date().getFullYear());
              </script>
              | All Rights Reserved
          </p>
      </div>
  </footer> -->
  <footer class="footer-bottom">
    <a href="#">
      <img src="/assets/images/float-support.png" alt="support" class="float-support" />
    </a>
    <a href="#"><img src="/assets/images/float-chat.png" alt="chat" class="float-chat" />
    </a>
  </footer>

</div>