<div class="bg-light-blue">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light-yellow navbar-nav p-0"
    id="mainNav"
  >
    <a
      class="navbar-brand js-scroll-trigger pl-5 pr-3 pt-0 pb-0 dx-block"
      href="#page-top"
    >
      <img src="/assets/images/mtjh.png" class="logo" alt="logo" />
    </a>
    <div class="container-fluid">
      <a class="navbar-brand js-scroll-trigger mb-block pl-1" href="#page-top">
        <img src="/assets/images/mtjh.png" class="logo" alt="logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse pl-lg-0" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <span class="nav-link institute-title" href="#"
              >DUM DUM MOTIJHEEL COLLEGE
              <span class="sr-only">(current)</span></span
            >
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item p-2">
            <a
              href="#"
              class="nav-link p-2 text-center text-light right-menu-option"
              ><i class="fas fa-flag"></i
            ></a>
          </li>
          <li class="nav-item p-2">
            <a
              href="#"
              class="nav-link p-2 text-center text-light right-menu-option"
              ><i class="fas fa-bell"></i>
              <span class="notification">5</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><img
                src="/assets/images/profile-pic.jpg"
                alt="profile pic"
                class="img-stu-profile"
              />
              Pritam Deb Nath
            </a>
            <small class="regNo">Department : Accounts</small>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#"
                >Sign Out <i class="fas fa-sign-out-alt"></i
              ></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="pt-4 pb-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <h5 class="text-white pt-1 text-blue text-left text-capitalize">
            <i class="fas fa-arrows-alt"></i>View Dashboard
          </h5>
          <hr class="hr-white" />
        </div>
      </div>
    </div>
  </section>

  <section class="stu-dashboard">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-12 mb-4">
          <button
            onclick="window.location.href='list-course-fees.html'"
            class="cus-wave btn-block btn-bdr btn-4"
          >
            <img
              src="/assets/images/course-wise-fees.png"
              alt="Course Fee"
              class="img-100 img-style"
            />
            <span class="text-capitalize text-center">Course Fee</span>
          </button>
        </div>
        <div class="col-lg-4 col-sm-12 mb-4">
          <button
            onclick="window.location.href='list-fees-master.html'"
            class="cus-wave btn-block btn-bdr btn-4"
          >
            <img
              src="/assets/images/fees-master.png"
              alt="Fees Master"
              class="img-100 img-style"
            />
            <span class="text-capitalize text-center"> Fees Master</span>
          </button>
        </div>
        <div class="col-lg-4 col-sm-12 mb-4">
          <button
            routerLink="../list-org-category"
            class="cus-wave btn-block btn-bdr btn-4"
          >
            <img
              src="/assets/images/account-head.png"
              alt="Fees Master"
              class="img-100 img-style"
            />
            <span class="text-capitalize text-center"> Organization Category</span>
          </button>
        </div>
        <div class="col-lg-4 col-sm-12 mb-4">
          <button
          routerLink="../list-institute-type"
            class="cus-wave btn-block btn-bdr btn-4"
          >
            <img
              src="/assets/images/fees-type.png"
              alt="Fees Master"
              class="img-100 img-style"
            />
            <span class="text-capitalize text-center"> Institute Type</span>
          </button>
        </div>
        <div class="col-lg-4 col-sm-12 mb-4">
          <button
          routerLink="../list-module"
            class="cus-wave btn-block btn-bdr btn-4"
          >
            <img
              src="/assets/images/fees-type.png"
              alt="Fees Master"
              class="img-100 img-style"
            />
            <span class="text-capitalize text-center"> Module </span>
          </button>
        </div>
        <div class="col-lg-4 col-sm-12 mb-4">
          <button
            onclick="window.location.href='list-fees-group.html'"
            class="cus-wave btn-block btn-bdr btn-4"
          >
            <img
              src="/assets/images/fees-group.png"
              alt="Fees Group"
              class="img-100 img-style"
            />
            <span class="text-capitalize text-center">Fees Group</span>
          </button>
        </div>
        <div class="col-lg-4 col-sm-12 mb-4">
          <button
            routerLink="../list-fees-type"
            class="cus-wave btn-block btn-bdr btn-4"
          >
            <img
              src="/assets/images/fees-type.png"
              alt="Fees Type"
              class="img-100 img-style"
            />
            <span class="text-capitalize text-center">Fees Type</span>
          </button>
        </div>
        <div class="col-lg-4 col-sm-12 mb-4">
          <button
            routerLink="../list-accounts-head"
            class="cus-wave btn-block btn-bdr btn-4"
          >
            <img
              src="/assets/images/account-head.png"
              alt="Accounts Head"
              class="img-100 img-style"
            />
            <span class="text-capitalize text-center"> Accounts Head</span>
          </button>
        </div>
        <div class="col-lg-4 col-sm-12 mb-4">
          <button
            routerLink="../../fees-management/fees-head"
            class="cus-wave btn-block btn-bdr btn-4"
          >
            <img
              src="/assets/images/pay-now.png"
              alt="Fees Head"
              class="img-100 img-style"
            />
            <span class="text-capitalize text-center">Fees Head</span>
          </button>
        </div>
        <div class="col-lg-4 col-sm-12 mb-4">
          <button
            routerLink="../list-associated-post"
            class="cus-wave btn-block btn-bdr btn-4"
          >
            <img
              src="/assets/images/view-departmen.png"
              alt="Fees Head"
              class="img-100 img-style"
            />
            <span class="text-capitalize text-center">Associate Post</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
