<div style="height:100%" class="bg-light-blue">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light-yellow navbar-nav p-0" id="mainNav">
        <a class="navbar-brand js-scroll-trigger pl-5 pr-3 pt-0 pb-0 dx-block" href="#page-top">
            <img src="/assets/images/mtjh.png" class="logo" alt="logo" />
        </a>
        <div class="container-fluid">
            <a class="navbar-brand js-scroll-trigger mb-block pl-1" href="#page-top">
                <img src="/assets/images/mtjh.png" class="logo" alt="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse pl-lg-0" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <span class="nav-link institute-title" href="#">DUM DUM MOTIJHEEL COLLEGE
                            <span class="sr-only">(current)</span></span>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><img src="/assets/images/profile-pic.jpg"
                                alt="profile pic" class="img-stu-profile" />
                            Pritam Deb Nath
                        </a>
                        <small class="regNo">Department : Accounts</small>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Sign Out <i class="fas fa-sign-out-alt"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="stu-dashboard mt-5">
        <div class="container">
            <div class="row">
                <div class="offset-lg-2 col-lg-8">
                    <h5>
                        <span class="float-right"><a class="text-light btn mb-3" (click)="onDashboard()">
                                <i class="fas fa-tachometer-alt"></i> Dashboard
                            </a>
                        </span>
                    </h5>
                </div>
                <div class="col-lg-8 offset-lg-2 col-sm-12">
                    <div class="border-double">
                        <form class="bg-light p-4" action="">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <h5 class="pb-3 pt-1 text-blue text-left text-capitalize">
                                        <i class="fas fa-arrows-alt"></i>
                                        Add Associate Post
                                        <span class="float-right"><a class="btn mb-3" routerLink="../list-associated-post">
                                                <i class="fas fa-eye"></i> View
                                            </a>
                                        </span>
                                    </h5>
                                </div>
                            </div>

                            <div [hidden]="!enableButton()||!associateControl.dirty" class="m-1 p-2 alert alert-danger" role="alert">
                                Associate Post is required!
                             </div>
                            <div [hidden]="enableAlert()" class="m-1 p-2 alert alert-danger" role="alert">
                                Associate Post should not have numbers or special characters!
                             </div>

                             <div [hidden]="true" class="m-1 p-2 alert alert-success" id="alert" role="alert">
                                Data Saved Successfully!!
                             </div>

                             
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="bg-light-yellow ml-1 mr-1 p-3 row position-relative">
                                        <div class="col-lg-12 col-sm-12 mb-3 form-group">
                                            <label for="instituteType">Associated Post</label>
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-12">
                                                    <input  data-toggle="tooltip"
                                                    data-placement="bottom"
                                                    title="Add Associate Post" 
                                                    type="text" 
                                                    name="associatedPost"
                                                    id="addAssociatedPost" 
                                                    class="form-control inputFocus"
                                                    placeholder="Associated Post" 
                                                    required minlength="1" 
                                                    maxlength="20"
                                                    [(ngModel)]="associatedPost" 
                                                    #associateControl="ngModel"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-12">
                                                    <div class="button-container mt-3 text-center float-right">
                                                        <button 
                                                            type="button" 
                                                            [disabled]="enableButton()||!enableAlert()"  
                                                            (click)="onClick()" 
                                                            id="cusEdit" 
                                                            style="background-color: #ebc034;"
                                                            class="btn btn-block btn-common-color btn-lg mt-3 text-white">
                                                            <span>
                                                                Add
                                                                <i class="fas fa-caret-right btn-style1"></i></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                            <!-- add more row end-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-bottom">
        <a href="#">
            <img src="/assets/images/float-support.png" alt="support" class="float-support" />
        </a>
        <a href="#"><img src="/assets/images/float-chat.png" alt="chat" class="float-chat" />
        </a>
    </footer>
</div>