<div class="bg-light-blue" style = "height: 600px;">
    <section class="pt-4 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <h5 class="text-white pt-1 text-blue text-left text-capitalize"><i class="fas fa-arrows-alt"></i>
                        View Institute Types <span class="float-right"><a class="btn mb-3 text-white"
                            routerLink="../">                     
                            <i 
                            class="fas fa-tachometer-alt"
                            ></i> Dashboard </a></span>
                    </h5>
                    <hr class="hr-white">
                </div>

            </div>
        </div>
    </section>

    <section class="stu-dashboard cus-pay-wave">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <table class="table table-bordered" style="background-color: aliceblue;">
                        <thead>
                          <tr>
                            <th scope="col">Sl No</th>
                            <th scope="col">Institute Types</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let item of finalItems ; let  i = index" >
                            <th scope="row">{{i+1}}</th>
                            <td>{{item.instituteType}}</td>
                            <td>
                                <button routerLink="../edit-institute-type/{{item.itemId}}/{{item.instituteType}}" id="cusEdit" class="btn-dark-blue-light btn btn-sm"><i class="fas fa-edit"></i></button>
                                <button href="#" id="cusEdit" (click) = 'showDeleteAlert(item.itemId)' class="btn-dark-blue-light btn btn-sm"><i class="fas fa-trash-alt"></i></button>
                                <button
                                *ngIf="item.isActivated==true"
                                (click)="onDeactivate(item.itemId)" 
                                href="#" 
                                id="cusEdit" 
                                class="btn-dark-blue-light btn btn-sm"><i class="fas fa-ban"></i></button>
                                <button
                                *ngIf="item.isActivated==false"
                                (click)="onActivate(item.itemId)" 
                                href="#" 
                                id="cusEdit" 
                                class="btn-dark-blue-light btn btn-sm"><i class="fas fa-check-circle"></i></button>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                </div>
            </div>

        </div>
    </section>

    <!-- <footer class="py-2 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                &copy;
                <script type="text/javascript">
                    document.write(new Date().getFullYear());
                </script>
                | All Rights Reserved
            </p>
        </div>
    </footer> -->
    <footer class="footer-bottom">
        <a href="#">
            <img src="/assets/images/float-support.png" alt="support" class="float-support" />
        </a>
        <a href="#"><img src="/assets/images/float-chat.png" alt="chat" class="float-chat" />
        </a>
    </footer>

    
   

    <!-- <script src="assest/js/jquery.min.js"></script>
    <script src="assest/js/popper.min.js"></script>
    <script src="assest/js/bootstrap.min.js"></script>
    <script src="assest/js/sweet-alert.min.js"></script>
    
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap4.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/jquery.daterangepicker.min.js"></script>
    <script src="/js/chosen.jquery.js"></script>
    <script src="/js/script.js"></script> -->
    <!-- <script type="text/javascript">
      jq = jQuery.noConflict();
        jq(function(){
          jq(".inputFocus").focus();
        });
    </script> -->
    
<!-- <script type="text/javascript">
    
document.getElementById('cusEdit').onclick = function(){
    swal("Good job!", "You clicked the button!", "success");
};

</script>
<script type="text/javascript"> -->
  <!-- // checkAll
//   jq = jQuery.noConflict();
// jq(document).ready(function () {
//     jq('#selectall').click(function () {
//         jq('.selectedId').prop('checked', this.checked);
//     });

//     jq('.selectedId').change(function () {
//         var check = (jq('.selectedId').filter(":checked").length == jq('.selectedId').length);
//         jq('#selectall').prop("checked", check);
//     });
// });

// jq(document).ready(function () {
//     jq('#selectall1').click(function () {
//         jq('.selectedId1').prop('checked', this.checked);
//     });

//     jq('.selectedId1').change(function () {
//         var check = (jq('.selectedId1').filter(":checked").length == jq('.selectedId1').length);
//         jq('#selectall1').prop("checked", check);
//     });
// });
</script> -->
</div>