<div style="height:100%" class="bg-light-blue">
    <section class="pt-4 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <h5 class="text-white pt-1 text-blue text-left text-capitalize"><i class="fas fa-arrows-alt"></i>
                        Add Organization <span class="float-right">
                            <a routerLink="/org/list-organization" class="btn mb-3 text-white"> <i class="fas fa-edit"></i> View </a>
                            <a routerLink="/org" class="btn mb-3 text-white"> <i class="fas fa-tachometer-alt"></i> Dashboard </a>
                            </span>
                    </h5>
                    <hr class="hr-white">
                </div>

            </div>
        </div>
    </section>
<mat-card id="card">
    <mat-horizontal-stepper #stepper>
        <!-- form 1 -->
        <mat-step [stepControl]="firstFormGroup" label="Organization Type" editable="true">
            <!-- <app-organization-type [firstFormGroup]="firstFormGroup"></app-organization-type> -->
            <mat-card class="my-3">
                <form [formGroup]="firstFormGroup">
                    <section>
                        <div class="inner text-center">
                            <h3 class="mb-lg-5 mb-3">Organization Type</h3>
                            <div class="form-row mb-5">
                                <div class="container my-5">
                                    <div id="radios">
                                        <label for="Seller" class="material-icons">
                                            <input (change)="orgTypeChange()" formControlName="organizationType" type="radio" id="Seller" value="Seller" checked />
                                            <span><img src="assets/images/seller.png" class="img-radio-icon"
                                                    alt="seller"></span>
                                            <!-- <p class="mt-4">Seller</p> -->
                                        </label>
                                        <label for="Institute" class="material-icons">
                                            <input (change)="orgTypeChange()" formControlName="organizationType" type="radio" id="Institute" value="Institute" />
                                            <span><img src="assets/images/institute.png" class="img-radio-icon"
                                                    alt="Institute"></span>
                                            <!-- <p class="mt-4">Institute</p> -->
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </form>
            </mat-card>
            <div class="my-3 clearfix">
                <button mat-raised-button color='primary' matStepperPrevious class="back">Back Step</button>
                <button (click)="displayData()" [disabled]="!this.firstFormGroup.valid" mat-raised-button color='primary' matStepperNext class="float-right next">Next Step</button>
            </div>
        </mat-step>

        <!-- form 2 -->
        <mat-step [stepControl]="secondFormGroup" label="Basic Details" editable="true">
            <app-basic-details [secondFormGroup]="secondFormGroup"></app-basic-details>
        </mat-step>

         <!-- form 3 -->
        <mat-step [stepControl]="thirdFormGroup" label="Contact Details">
            <app-contact-details [thirdFormGroup]="thirdFormGroup"></app-contact-details>
        </mat-step>

        <!-- form 4 -->
        <mat-step [stepControl]="fourthFormGroup" label="Registration Details">
            <app-registration [fourthFormGroup]="fourthFormGroup"></app-registration>
        </mat-step>

        <!-- form 5 -->
        <mat-step [stepControl]="fifthFormGroup" label="User">
            <app-master-user [fifthFormGroup]="fifthFormGroup"></app-master-user>
        </mat-step>

        <!-- form 6 -->
        <mat-step [stepControl]="sixthFormGroup" label="Settings">
            <app-settings [sixthFormGroup]="sixthFormGroup"></app-settings>
        </mat-step>

        <!-- form 7 -->
        <mat-step label="Preview">
            <app-preview ></app-preview>
        </mat-step>
        <!-- <mat-step label="Preview">
        <ng-template matStepLabel="Preview">
            <!-- <mat-step label="Preview"> -->
                <!-- <app-preview ></app-preview> -->
            <!-- </mat-step> -->
        <!-- </ng-template>
        </mat-step> --> -->
        
    </mat-horizontal-stepper>
</mat-card>