<div class="bg-semester bg-light-blue">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light-yellow navbar-nav p-0"
    id="mainNav"
  >
    <a
      class="navbar-brand js-scroll-trigger pl-5 pr-3 pt-0 pb-0 dx-block"
      href="#page-top"
    >
      <img src="/assets/images/mtjh.png" class="logo" alt="logo" />
    </a>
    <div class="container-fluid">
      <a class="navbar-brand js-scroll-trigger mb-block pl-1" href="#page-top">
        <img src="/assets/images/mtjh.png" class="logo" alt="logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse pl-lg-0" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <span class="nav-link institute-title" href="#"
              >DUM DUM MOTIJHEEL COLLEGE
              <span class="sr-only">(current)</span></span
            >
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><img
                src="/assets/images/profile-pic.jpg"
                alt="profile pic"
                class="img-stu-profile"
              />
              Pritam Deb Nath
            </a>
            <small class="regNo">Department : Accounts</small>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#"
                >Sign Out <i class="fas fa-sign-out-alt"></i
              ></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="pt-4 pb-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <h5 class="text-white pt-1 text-blue text-left text-capitalize">
            <i class="fas fa-arrows-alt"></i> list fees head
            <span class="float-right">
              <a
                class="btn mb-3 text-white"
                routerLink="/fees-management/fees-head/add"
              >
                <i class="fas fa-edit"></i> Add Fees Head </a
              ><a class="btn mb-3 text-white" routerLink="/org">
                <i class="fas fa-tachometer-alt"></i> Dashboard
              </a></span
            >
          </h5>
          <hr class="hr-white" />
        </div>
      </div>
    </div>
  </section>

  <section class="stu-dashboard cus-pay-wave">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="table-responsive bg-light p-4 mb-5">
            <table
              id="dt-example"
              class="table-bordered table-active stripe row-border order-column cl-table dataTable no-footer"
              cellspacing="0"
              width="100%"
            >
              <thead>
                <select
                  class="form-control-clild filter-select col-lg-4 offset-lg-3"
                >
                  <option>Select Option</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                </select>
                <tr>
                  <th>Sl&nbsp;No</th>
                  <th>Fees&nbsp;Head</th>
                  <th>Parent&nbsp;Fees&nbsp;Head</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  role="row"
                  class="odd"
                  *ngFor="let fees of feesHeadList; let i = index"
                >
                  <td class="">{{ i + 1 }}</td>
                  <td>{{ fees.feesHeadName }}</td>
                  <td class="sorting_1">{{ fees.parentFees }}</td>
                  <td>
                    <a
                      routerLink="/fees-management/fees-head/edit/{{
                        fees.feesHeadId
                      }}"
                      id="cusEdit"
                      class="btn-dark-blue-light btn btn-sm mx-2"
                      ><i class="fas fa-edit"></i
                    ></a>
                    <a
                      id="cusEdit1"
                      (click)="onDelete(fees.feesHeadId)"
                      class="btn-dark-blue-light btn btn-sm mx-2"
                      ><i class="far fa-trash-alt"></i
                    ></a>
                    <a
                      (click)="deactivateFeesHead(fees.feesHeadId)"
                      *ngIf="fees.isActivated === true"
                      class="btn-dark-blue-light btn btn-sm mx-2"
                      ><i class="fas fa-ban"></i
                    ></a>
                    <a
                      (click)="activateFeesHead(fees.feesHeadId)"
                      *ngIf="fees.isActivated === false"
                      class="btn-dark-blue-light btn btn-sm mx-2"
                      ><i class="far fa-check-circle"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- The approveBox -->
  <div class="modal" id="approveBox">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Form Heading</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <!-- <form> -->
          <div class="row">
            <div class="col-lg-10 cl-sm-12 mb-3 form-group">
              <label for="accountHead" class="col-lg-12 pl-0 pr-0"
                >Associated Accounts Head</label
              >
              <select class="form-control" id="accountHead" name="accountHead">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
            <div class="col-lg-1 col-sm-12 button-container mt-4">
              <button type="button" id="cusEdit" class="btn btn-dark-blue mt-2">
                <span><i class="fas fa-plus-circle"></i></span>
              </button>
            </div>
            <div class="col-lg-12 cl-sm-12 mb-3 form-group">
              <label for="Amount">Amount</label>
              <input
                data-toggle="tooltip"
                data-placement="bottom"
                title=""
                type="text"
                name="Amount"
                id="Amount"
                class="form-control inputFocus"
                placeholder="Amount"
                required=""
                minlength=""
                maxlength=""
                data-original-title="Demo tooltip text"
              />
            </div>
          </div>
          <button type="button" class="btn btn-common-color">Submit</button>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
  <!-- approveBox end -->

  <!-- The approveBox -->
  <div class="modal" id="RejectBox">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Reject Form Heading</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <!-- <form> -->
          <div class="row">
            <div class="col-lg-12 cl-sm-12 mb-3 form-group">
              <label for="rejection">Reason of Rejection</label>
              <textarea
                class="form-control"
                name="Amount"
                id="Amount"
                data-toggle="tooltip"
                data-placement="top"
                title=""
                data-original-title="Demo tooltip text"
                rows="5"
              ></textarea>
            </div>
          </div>
          <button type="button" class="btn btn-common-color">Submit</button>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
</div>
