<div class="bg-light-blue">
  <section class="pt-4 pb-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <h5 class="text-white pt-1 text-blue text-left text-capitalize">
            <i class="fas fa-arrows-alt"></i> Dashboard
          </h5>
          <hr class="hr-white" />
        </div>
      </div>
    </div>
  </section>

  <section class="stu-dashboard">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-12 mb-4">
          <button routerLink="add-masters" class="cus-wave btn-block btn-bdr btn-4">
            <img src="/assets/images/add.png" alt="Add Master Data" class="img-100 img-style" />
            <span class="text-capitalize text-center">Add Master Data</span>
          </button>
        </div>
        <div class="col-lg-4 col-sm-12 mb-4">
          <button onclick="window.location.href='edit-dashboard.html'" class="cus-wave btn-block btn-bdr btn-4">
            <img src="/assets/images/edit.png" alt="Edit Master Data" class="img-100 img-style" />
            <span class="text-capitalize text-center">Edit Master Data</span>
          </button>
        </div>
        <div class="col-lg-4 col-sm-12 mb-4">
          <button routerLink="view-masters" class="cus-wave btn-block btn-bdr btn-4">
            <img src="/assets/images/list.png" alt="View Master Data" class="img-100 img-style" />
            <span class="text-capitalize text-center">View Master Data</span>
          </button>
        </div>
        <div class="col-lg-4 col-sm-12 mb-4">
          <button onclick="window.location.href='list-concession-applications.html'"
            class="cus-wave btn-block btn-bdr btn-4">
            <img src="/assets/images/application.png" alt="Course Fees" class="img-100 img-style" />
            <span class="text-capitalize text-center">
              Concession Applications</span>
          </button>
        </div>
        <div class="col-lg-4 col-sm-12 mb-4">
          <button onclick="window.location.href='list-concession-applications.html'"
            class="cus-wave btn-block btn-bdr btn-4">
            <img src="/assets/images/course-wise-fees.png" alt="Course Fees" class="img-100 img-style" />
            <span class="text-capitalize text-center">
              Revoke Late Fine Applications</span>
          </button>
        </div>
        <div class="col-lg-4 col-sm-12 mb-4">
          <button onclick="window.location.href='search-dashboard.html'" class="cus-wave btn-block btn-bdr btn-4">
            <img src="/assets/images/search.png" alt="Course Fees" class="img-100 img-style" />
            <span class="text-capitalize text-center">Search Data</span>
          </button>
        </div>
        <div class="col-lg-4 col-sm-12 mb-5">
          <button onclick="window.location.href='report-dashboard.html'" class="cus-wave btn-block btn-bdr btn-4">
            <img src="/assets/images/report.png" alt="Course Fees" class="img-100 img-style" />
            <span class="text-capitalize text-center">Generate Reports</span>
          </button>
        </div>
        <div class="col-lg-4 col-sm-12 mb-4">
          <button onclick="window.location.href='edit-dashboard.html'" class="cus-wave btn-block btn-bdr btn-4">
            <img src="/assets/images/edit.png" alt="Edit Master Data" class="img-100 img-style" />
            <span class="text-capitalize text-center">Organization</span>
          </button>
        </div>
        
      </div>
    </div>
  </section>
</div>