<h2 mat-dialog-title>Organization Details</h2>
<mat-dialog-content class="mat-typography">
  <div class="mx-5 my-5" style="min-width: 60%;">
    <mat-card class="my-3">
      <h3>Organization Type</h3>
      <p><strong>{{basicDetails?.org_type}}</strong></p>
    </mat-card>
    <div *ngIf="editing == 'basicdetail'; else bdviewMode">
     <app-basic-details [secondFormGroup]="secondFormGroup" [editMode]="editMode" (cancelEdit)="cancelEditMode($event)"></app-basic-details>
    </div>
    
    <ng-template #bdviewMode>
      <mat-card class="my-3">
        <h3>Basic Details</h3>
        <p><strong>Institute Type : </strong>{{basicDetails?.institute_type}}</p>
        <p><strong>Organization Name : </strong>{{basicDetails?.org_name}}</p>
        <p><strong>Organization Short Code : </strong>{{basicDetails?.org_short_code}}</p>
        <!-- <app-basic-details></app-basic-details> -->
        <div class="d-flex justify-content-end">
          <button mat-raised-button color="accent" (click)="editBasicDetails()">
            Edit
          </button>
        </div>
    </mat-card>
    </ng-template>
  
    <mat-card class="my-3">
      <h3>Address List</h3>
      <div *ngFor="let address of addressList">
        <p><strong>Address Type : </strong>{{address?.address_for}}</p>
        <p><strong>Address : </strong>{{address?.address}}</p>
    </div>
    <div class="d-flex justify-content-end">
    
      <button mat-raised-button color="accent" (click)="editAddress()">
        Edit
      </button>
    </div>
    </mat-card>
    <mat-card class="my-3">
      <h3>Phone List</h3>
      <div *ngFor="let phone of phoneList; let i = index">
        <label for="social">Number - {{i+1}}</label>
        <p><strong>Phone Type : </strong>{{phone?.phone_type}}</p>
        <p><strong>Phone Number : </strong>{{phone?.phone_number}}</p>
        <p><strong>Time : </strong>{{phone?.phone_timings}}</p>
        <p><strong>Shift : </strong>{{phone?.phone_availability_shift}}</p>
        <p><strong>Days</strong></p>
        <ul>
            <li *ngFor="let day of phone?.phone_availability_days">{{day}}</li>
        </ul>
        <!-- <p><strong>Associated With : </strong>{{phone?.associatedWith}}</p> -->
    </div>
    <div class="d-flex justify-content-end">
    
      <button mat-raised-button color="accent" (click)="editPhone()">
        Edit
      </button>
    </div>
    </mat-card>
    <mat-card class="my-3">
      <h3>Email List</h3>
      <div *ngFor="let email of emailList; let i = index">
        <label for="email">Number - {{i+1}}</label>
        <p><strong>Email Type : </strong>{{email?.email_type}}</p>
        <p><strong>Email Address : </strong>{{email?.email}}</p>
        <p><strong>Email Text : </strong>{{email?.email_text}}</p>
        <p><strong>Shift : </strong>{{email?.email_availability_shift}}</p>
        <p><strong>Associated With : </strong>{{email?.associated_with}}</p>
    </div>
    <div class="d-flex justify-content-end">
  
      <button mat-raised-button color="accent" (click)="editEmail()">
        Edit
      </button>
    </div>
    </mat-card>
    <mat-card class="my-3">
      <h3>Social Handle List</h3>
      <div *ngFor="let social of socialList; let i = index">
        <label for="social">Number - {{i+1}}</label>
        <p><strong>Social Media Type : </strong>{{social?.social_media}}</p>
        <p><strong>Social Media Link : </strong>{{social?.social_media_link_handle}}</p>
    </div>
    <div class="d-flex justify-content-end">
    
      <button mat-raised-button color="accent" (click)="editSocial()">
        Edit
      </button>
    </div>
    </mat-card>
    <mat-card class="my-3">
      <h3>Registartion Details</h3>
      <p><strong>Organization Category : </strong>{{registrationDetails?.orgCategory}}</p>
      <p><strong>Registration Number : </strong>{{registrationDetails?.registrationNumber}}</p>
      <p><strong>Registration Date : </strong>{{registrationDetails?.registrationDate}}</p>
      <p><strong>Affiliation Start Date : </strong>{{registrationDetails?.affiliationStartDate}}</p>
      <p><strong>Affiliation End Date : </strong>{{registrationDetails?.affiliationEndDate}}</p>
      <p><strong>Affiliation and Accredential : </strong>{{registrationDetails?.affAndAcc}}</p>
      <p><strong>Certificate Number : </strong>{{registrationDetails?.certificateNumber}}</p>
      <p><strong>Status : </strong>{{registrationDetails?.status}}</p>
      <div class="d-flex justify-content-end">
        <button mat-raised-button color="accent" (click)="editRegistration()">
          Edit
        </button>
      </div>
    </mat-card>
    <mat-card class="my-3">
      <h3>Document List</h3>
      <div *ngFor="let document of documentList; let i = index">
        <label for="document">Number - {{i+1}}</label>
        <p><strong>Document Type : </strong>{{document?.docType}}</p>
        <p><strong>Document Number : </strong>{{document?.docNumber}}</p>
        <p><strong>Document Registration Date : </strong>{{document?.validUpto}}</p>
    </div>
    <div class="d-flex justify-content-end">
      <button mat-raised-button color="accent" (click)="editDoc()">
        Edit
      </button>
    </div>
    </mat-card>
  
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>