<body class="bg-light-blue">

<section class="stu-dashboard mt-5">
    <div class="container">
        <div class="row">
            <div class="offset-lg-1 col-lg-10">
                <h5><span class="float-right "><a class="text-light btn mb-3" (click) = "goToDashboard()"> <i class="fas fa-tachometer-alt"></i> Dashboard </a>
                              </span></h5>
            </div>
            <div class="col-lg-10 offset-lg-1 col-sm-12">
                <div class="border-double ">

                <form class="bg-light p-4" action="">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <h5
                            class="pb-3 pt-1 text-blue text-left text-capitalize"
                        >
                            <i class="fas fa-arrows-alt"></i>
                            Edit Module
                            <span class="float-right"
                                ><a
                                    class="btn mb-3"
                                    (click) = 'goToView()'

                                    >
                                    <i class="fas fa-eye"></i> View
                                </a>
                            </span>
                            <span class="float-right"
                                ><a
                                    class="btn mb-3"
                                    (click) = 'goToAdd()'
                                    >
                                    <i class="fas fa-edit"></i> Add
                                </a>
                            </span>
                        </h5>
                        </div>
                       <!--  <div class="col-lg-3 col-sm-12">
                            <button type="submit" class="btn-mat"><span>View Department</span></button>
                        </div> -->
                    </div>
                
                
        <div class="row">
            <div class="col-lg-12 col-sm-12">
            <div class="bg-light-yellow ml-1 mr-1 p-3 row position-relative">
            

            <div class="col-lg-3 cl-sm-12 mb-3 form-group">
                <label for="insType">Parent Module</label>
                <select class="form-control" id="module" name="module" [(ngModel)] = "module" >
                    <option>Select Option</option>
                    <option *ngFor = "let item of modules ">{{item}}</option>
                </select>
            </div>
            <div class="col-lg-5 cl-sm-12 mb-3 form-group">
                <label for="feesHead">Module Name</label>
                <input data-toggle="tooltip" data-placement="bottom" title="Demo tooltip text" type="text" name="feesHead" id="feesHead" class="form-control inputFocus" placeholder="Fees Head" required minlength="1" maxlength="50">
            </div>

            <div class="col-lg-4 cl-sm-12 mb-3 form-group dropdown">
                <label for="feesHead">Connected Modules</label>

                <input data-toggle="tooltip" data-placement="bottom" title="Demo tooltip text" type="text" name="feesHead" id="feesHead" class="form-control inputFocus" placeholder="Connected Modules" required >
            </div>
                <div class="col-lg-2 offset-lg-5 button-container mt-3 text-center">
                    <button type="button" id="cusEdit" 
                    style="
                          background: linear-gradient(
                            180deg,
                            #f4bd22 50%,
                            #eeae20 50%
                          );
                          padding: 0.5rem;
                        "
                    (click) = "onEdit()"
                    class="btn btn-block btn-common-color btn-lg text-white"><span> Edit <i class="fas fa-caret-right btn-style1"></i></span></button>
                </div>
        </div>

    </div>


        </div>
                            <!-- add more row end-->

    <!-- </div> -->
                               
                            </form>
                      </div>
                        </div>
                    </div>
                </div>
            </section> 

     <footer class="py-2 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white"> &copy;
                <script type="text/javascript">
                    document.write(new Date().getFullYear());
                </script> | All Rights Reserved</p>
        </div>
        <!-- /.container -->
    </footer>
    <footer class="footer-bottom">
        <a href="#" >
            <img src="/assets/images/float-support.png" alt="support" class="float-support">
        </a>
        <a href="#"><img src="/assets/images/float-chat.png" alt="chat" class="float-chat">
        </a>
    </footer>

    <!-- <script src="assest/js/jquery.min.js"></script>
    <script src="assest/js/popper.min.js"></script>
    <script src="assest/js/bootstrap.min.js"></script>
    <script src="assest/js/sweet-alert.min.js"></script>
    
    <script src="assest/js/jquery.dataTables.min.js"></script>
    <script src="assest/js/dataTables.bootstrap4.min.js"></script>
    <script src="assest/js/moment.min.js"></script>
    <script src="assest/js/jquery.daterangepicker.min.js"></script>
    <script src="assest/js/chosen.jquery.js"></script>
    <script src="assest/js/script.js"></script>

    
<script type="text/javascript">
    
document.getElementById('cusEdit').onclick = function(){
    swal("Good job!", "You clicked the button!", "success");
};

</script>
<script type="text/javascript">
  
</script>
</body>
 -->
