<div style="height:100%" class="bg-light-blue">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light-yellow navbar-nav p-0" id="mainNav">
        <a class="navbar-brand js-scroll-trigger pl-5 pr-3 pt-0 pb-0 dx-block" href="#page-top">
            <img src="/assets/images/mtjh.png" class="logo" alt="logo" />
        </a>
        <div class="container-fluid">
            <a class="navbar-brand js-scroll-trigger mb-block pl-1" href="#page-top">
                <img src="/assets/images/mtjh.png" class="logo" alt="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse pl-lg-0" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <span class="nav-link institute-title" href="#">DUM DUM MOTIJHEEL COLLEGE
                            <span class="sr-only">(current)</span></span>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><img src="/assets/images/profile-pic.jpg"
                                alt="profile pic" class="img-stu-profile" />
                            Pritam Deb Nath
                        </a>
                        <small class="regNo">Department : Accounts</small>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Sign Out <i class="fas fa-sign-out-alt"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="pt-4 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <h5 class="text-white pt-1 text-blue text-left text-capitalize"><i class="fas fa-arrows-alt"></i>
                        View Associate Post <span class="float-right">
                            <a class="btn mb-3 text-white"
                                (click)="onAdd()"> <i class="fas fa-edit"></i> Add </a>
                            <a class="btn mb-3 text-white"
                                (click)="onDashboard()"> <i class="fas fa-tachometer-alt"></i> Dashboard </a>
                                </span>
                    </h5>
                    <hr class="hr-white">
                </div>

            </div>
        </div>
    </section>

    <section class="stu-dashboard cus-pay-wave">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <table class="table table-bordered" style="background-color: aliceblue;">
                        <thead>
                          <tr>
                            <th scope="col">Sl No</th>
                            <th scope="col">Associate Post</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let item of final_items; let i = index">                                    
                                    <th scope="row">{{ i+1 }}</th>
                                    <td >{{ item.associated_post }}</td>
                                    <td>
                                        <button routerLink="../edit-associated-post/{{ item.itemId }}/{{ item.associated_post }}" id="cusEdit" class="btn-dark-blue-light btn btn-sm"><i class="fas fa-edit"></i></button>
                                        <button (click)="onDelete(item.itemId)" id="cusEdit" class="btn-dark-blue-light btn btn-sm"><i class="fas fa-trash-alt"></i></button>
                                        <button
                                        *ngIf="item.isActivated==true"
                                        (click)="onDeactivate(item.itemId)" 
                                        href="#" 
                                        id="cusEdit" 
                                        class="btn-dark-blue-light btn btn-sm"><i class="fas fa-ban"></i></button>
                                        <button
                                        *ngIf="item.isActivated==false"
                                        (click)="onActivate(item.itemId)" 
                                        href="#" 
                                        id="cusEdit" 
                                        class="btn-dark-blue-light btn btn-sm"><i class="fas fa-check-circle"></i></button>
                                    </td>
                                  </tr>                       
                            
                        
                        </tbody>
                      </table>
                </div>
            </div>

        </div>
    </section>

    <footer class="footer-bottom">
        <a href="#">
            <img src="/assets/images/float-support.png" alt="support" class="float-support" />
        </a>
        <a href="#"><img src="/assets/images/float-chat.png" alt="chat" class="float-chat" />
        </a>
    </footer>
</div>