<div class="bg-light-blue" style="height: 100%;">
    <section class="stu-dashboard mt-5">
        <div class="container">
            <div class="row">
                <div class="offset-lg-1 col-lg-10">
                    <h5>
                        <span class="float-right"><a class="text-light btn mb-3" (click)="onDashboard()">
                                <i class="fas fa-tachometer-alt"></i> Dashboard
                            </a>
                        </span>
                    </h5>
                </div>
                <div class="col-lg-10 offset-lg-1 col-sm-12">
                    <div class="border-double">
                        <form class="bg-light p-4" action="">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <h5 class="pb-3 pt-1 text-blue text-left text-capitalize">
                                        <i class="fas fa-arrows-alt"></i> Edit
                                        Accounts Head
                                        <span class="float-right"><a class="btn mb-3" (click)="onView()">
                                                <i class="fas fa-eye"></i> View
                                            </a>
                                        </span>
                                        <span class="float-right"><a class="btn mb-3" (click)="onAdd()">
                                                <i class="fas fa-edit"></i> Add
                                            </a>
                                        </span>
                                    </h5>
                                    <div [hidden]="enableAlert()" class="alert alert-danger text-center"
                                        style="height: 40px; padding-top: 10px;" role="alert">
                                        Special Characters and Numbers are not Allowed
                                    </div>

                                    <div [hidden]="!enableButton()||!accountsHeadControl.dirty"
                                        class="alert alert-danger text-center" style="height: 40px; padding-top: 10px;"
                                        role="alert">
                                        Accounts Head cannot be blank
                                    </div>
                                </div>
                                <!--  <div class="col-lg-3 col-sm-12">
                            <button type="submit" class="btn-mat"><span>View Department</span></button>
                        </div> -->
                            </div>


                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="bg-light-yellow ml-1 mr-1 p-3 row position-relative">

                                        

                                        <div class="col-lg-8 cl-sm-12 mb-3 form-group">
                                            <label for="feesGroup">Accounts Head</label>
                                            <input data-toggle="tooltip" data-placement="bottom"
                                                title="Demo tooltip text" type="text" name="accountsHead" id="feesGroup"
                                                class="form-control inputFocus" placeholder="Accounts Head" required
                                                minlength="1" maxlength="25" [(ngModel)]='accountsHead'
                                                #accountsHeadControl="ngModel" />
                                        </div>

                                        <div class="col-lg-4 cl-sm-12 mb-3 form-group dropdown">
                                            <label for="parentAccountHead"> Parent Account Head</label>
                                            <select #parentAccount (change)="selectParentAccount(parentAccount.value)" class="form-control">
                                                <option value="" selected>{{parentAccountHead}}</option>
                                                <option value="None">None</option>
                                                <option *ngFor="let item of finalItems" value={{item.accountsHead}}>
                                                    {{ item.accountsHead }}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="col-lg-2 button-container mt-3">
                                            <button [disabled]="enableButton()||!enableAlert()" type="button"
                                                id="cusEdit" (click)="onClick()"
                                                class="btn btn-warning btn-common-color btn-lg text-white mt-3">
                                                <span>
                                                    Edit
                                                    <i class="fas fa-caret-right"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- add more row end-->

                            <!-- </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <footer class="py-2 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                &copy;
                <script type="text/javascript">
                    document.write(new Date().getFullYear());
                </script>
                | All Rights Reserved
            </p>
        </div>
    </footer> -->
    <footer class="footer-bottom">
        <a href="#">
            <img src="assets/images/float-support.png" alt="support" class="float-support" />
        </a>
        <a href="#"><img src="/assets/images/float-chat.png" alt="chat" class="float-chat" />
        </a>
    </footer>

    <!-- <script src="../../../../assets/js/jquery.min.js"></script>
    <script src="../../../../assets/js/popper.min.js"></script>
    <script src="../../../../assets/js/bootstrap.min.js"></script>
    <script src="../../../../assets/js/sweet-alert.min.js"></script>

    <script src="../../../../assets/js/jquery.dataTables.min.js"></script>
    <script src="../../../../assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../../../assets/js/moment.min.js"></script>
    <script src="../../../../assets/js/jquery.daterangepicker.min.js"></script>
    <script src="../../../../assets/js/chosen.jquery.js"></script>
    <script src="../../../../assets/js/script.js"></script>
    <script type="text/javascript">
        jq = jQuery.noConflict();
        jq(function () {
            jq('.inputFocus').focus();
        });
    </script>

    <script type="text/javascript">
        document.getElementById('cusEdit').onclick = function () {
            swal('Good job!', 'You clicked the button!', 'success');
        };
    </script>
    <script type="text/javascript">
        // checkAll
        jq = jQuery.noConflict();
        jq(document).ready(function () {
            jq('#selectall').click(function () {
                jq('.selectedId').prop('checked', this.checked);
            });

            jq('.selectedId').change(function () {
                var check =
                    jq('.selectedId').filter(':checked').length ==
                    jq('.selectedId').length;
                jq('#selectall').prop('checked', check);
            });
        });

        jq(document).ready(function () {
            jq('#selectall1').click(function () {
                jq('.selectedId1').prop('checked', this.checked);
            });

            jq('.selectedId1').change(function () {
                var check =
                    jq('.selectedId1').filter(':checked').length ==
                    jq('.selectedId1').length;
                jq('#selectall1').prop('checked', check);
            });
        });
    </script> -->
</div>