<div class="bg-light-blue">
  <section class="stu-dashboard mt-5">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-10">
          <h5>
            <span class="float-right"
              ><a class="text-light btn mb-3" routerLink="/org">
                <i class="fas fa-tachometer-alt"></i> Dashboard
              </a>
            </span>
          </h5>
        </div>
        <div class="col-lg-10 offset-lg-1 col-sm-12">
          <div class="border-double">
            <form class="bg-light p-4" [formGroup]="editFeesHeadForm">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <h5 class="pb-3 pt-1 text-blue text-left text-capitalize">
                    <i class="fas fa-arrows-alt"></i> edit fees head
                    <span class="float-right"
                      ><a
                        class="btn mb-3"
                        routerLink="/fees-management/fees-head"
                      >
                        <i class="fas fa-eye"></i> View
                      </a>
                    </span>
                    <span class="float-right"
                      ><a
                        class="btn mb-3"
                        routerLink="/fees-management/fees-head/add"
                      >
                        <i class="fas fa-edit"></i> Add
                      </a>
                    </span>
                  </h5>
                </div>
                <!--  <div class="col-lg-3 col-sm-12">
                            <button type="submit" class="btn-mat"><span>View Department</span></button>
                        </div> -->
              </div>

              <!-- Errors -->
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <div
                    class="m-1 p-2 alert alert-danger"
                    *ngIf="
                      (feesHeadName.dirty || feesHeadName.touched) &&
                      feesHeadName.errors &&
                      (feesHeadName.errors.required ||
                        feesHeadName.errors.emptyvalidator)
                    "
                  >
                    Fees Head is required
                  </div>
                  <div
                    class="m-1 p-2 alert alert-danger"
                    *ngIf="
                      (feesHeadName.dirty || feesHeadName.touched) &&
                      feesHeadName.errors &&
                      feesHeadName.errors.pattern
                    "
                  >
                    Fees Head should not have numbers or special characters
                  </div>
                  <div
                    class="m-1 p-2 alert alert-danger"
                    *ngIf="
                      (instituteType.dirty || instituteType.touched) &&
                      instituteType.errors &&
                      instituteType.errors.required
                    "
                  >
                    Institute Type is required
                  </div>
                  <div
                    class="m-1 p-2 alert alert-danger"
                    *ngIf="
                      (parentFees.dirty || parentFees.touched) &&
                      parentFees.errors &&
                      parentFees.errors.required
                    "
                  >
                    Parent Fees is required
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <div
                    class="bg-light-yellow ml-1 mr-1 p-3 row position-relative"
                  >
                    <div class="col-lg-3 cl-sm-12 mb-3 form-group">
                      <label for="insType">Institution Type </label>
                      <select
                        class="form-control"
                        id="insType"
                        name="instituteType"
                        formControlName="instituteType"
                      >
                        <option
                          *ngFor="let item of instituteTypeList"
                          [value]="
                            item.instituteType && item.instituteType.toString()
                          "
                          [selected]="
                            selectedFeesHead &&
                            selectedFeesHead.instituteType ===
                              item.instituteType
                          "
                        >
                          {{ item.instituteType }}
                        </option>
                      </select>
                    </div>
                    <div class="col-lg-5 cl-sm-12 mb-3 form-group">
                      <label for="feesHead">Fees Head</label>
                      <input
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="Demo tooltip text"
                        type="text"
                        name="feesHead"
                        id="feesHead"
                        class="form-control inputFocus"
                        placeholder="Fees Head"
                        formControlName="feesHeadName"
                      />
                    </div>

                    <div class="col-lg-4 cl-sm-12 mb-3 form-group dropdown">
                      <label for="parentFees"> Parent Fees</label><br />
                      <select
                        class="form-control"
                        id="parentFees"
                        name="parentFees"
                        formControlName="parentFees"
                      >
                        <option
                          *ngFor="let item of parentFeesList"
                          [value]="
                            item.feesHeadName && item.feesHeadName.toString()
                          "
                          [selected]="
                            selectedFeesHead &&
                            selectedFeesHead.parentFees === item.feesHeadName
                          "
                        >
                          {{ item.feesHeadName }}
                        </option>
                        <option value="">None</option>
                      </select>
                    </div>
                    <div
                      class="col-lg-2 offset-lg-5 button-container mt-3 text-center"
                    >
                      <button
                        style="
                          background: linear-gradient(
                            180deg,
                            #f4bd22 50%,
                            #eeae20 50%
                          );
                          padding: 0.5rem;
                        "
                        type="button"
                        id="cusEdit"
                        (click)="onSubmit()"
                        class="btn btn-block btn-common-color btn-lg text-white"
                        [disabled]="
                          !editFeesHeadForm.valid ||
                          (feesHeadName.pristine &&
                            parentFees.pristine &&
                            instituteType.pristine)
                        "
                      >
                        <span>
                          Edit
                          <i class="fas fa-caret-right btn-style1"></i
                        ></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer-bottom">
    <a href="#">
      <img
        src="/assets/images/float-support.png"
        alt="support"
        class="float-support"
      />
    </a>
    <a href="#"
      ><img src="/assets/images/float-chat.png" alt="chat" class="float-chat" />
    </a>
  </footer>
</div>
