<div class="bg-light-blue" style="height: 100%;">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light-yellow navbar-nav p-0" id="mainNav">
        <a class="navbar-brand js-scroll-trigger pl-5 pr-3 pt-0 pb-0 dx-block" href="#page-top">
            <img src="/assets/images/mtjh.png" class="logo" alt="logo" />
        </a>
        <div class="container-fluid">
            <a class="navbar-brand js-scroll-trigger mb-block pl-1" href="#page-top">
                <img src="/assets/images/mtjh.png" class="logo" alt="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse pl-lg-0" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <span class="nav-link institute-title" href="#">DUM DUM MOTIJHEEL COLLEGE
                            <span class="sr-only">(current)</span></span>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><img src="/assets/images/profile-pic.jpg"
                                alt="profile pic" class="img-stu-profile" />
                            Pritam Deb Nath
                        </a>
                        <small class="regNo">Department : Accounts</small>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Sign Out <i class="fas fa-sign-out-alt"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="pt-4 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <h5 class="text-white pt-1 text-blue text-left text-capitalize">
                        <i class="fas fa-arrows-alt"></i> View Accounts Head<span class="float-right">
                            <a class="btn mb-3 text-white" routerLink="../add-accounts-head">
                                <i class="fas fa-edit"></i> Add
                            </a>
                            <a class="btn mb-3 text-white" routerLink="../">
                                <i class="fas fa-tachometer-alt"></i> Dashboard
                            </a></span>
                            <!-- <span class="float-right"><a class="btn mb-3 text-white" routerLink="../add-accounts-head">
                                <i class="fas fa-edit"></i> Add
                            </a>
                        </span> -->
                    </h5>
                    <hr class="hr-white" />
                </div>
            </div>
        </div>
    </section>

    <section class="stu-dashboard cus-pay-wave">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <table class="table table-bordered" style="background-color: aliceblue">
                        <thead>
                            <tr>
                                <th scope="col">Sl No</th>
                                <th scope="col">Parent Accounts Head</th>
                                <th scope="col">Accounts Head</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of finalItems; let i = index">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{item.parentAccountHead}}</td>
                                <td>{{ item.accountsHead }}</td>
                                <td>
                                    <button routerLink="../edit-accounts-head/{{ item.accounts_head_id }}" id="cusEdit" class="btn-dark-blue-light btn btn-sm">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button id="cusEdit"
                                        class="btn-dark-blue-light btn btn-sm" (click)="onDelete(item.accounts_head_id)"
                                        data-toggle="modal" data-target="#exampleModal">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                    <button href="#" id="cusEdit" class="btn-dark-blue-light btn btn-sm">
                                        <i class="fas fa-ban"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

   

    <!-- <footer class="py-2 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                &copy;
                <script type="text/javascript">
                    document.write(new Date().getFullYear());
                </script>
                | All Rights Reserved
            </p>
        </div>
    </footer> -->
    <footer class="footer-bottom">
        <a href="#">
            <img src="/assets/images/float-support.png" alt="support" class="float-support" />
        </a>
        <a href="#"><img src="/assets/images/float-chat.png" alt="chat" class="float-chat" />
        </a>
    </footer>

    <!-- <script src="assest/js/jquery.min.js"></script>
    <script src="assest/js/popper.min.js"></script>
    <script src="assest/js/bootstrap.min.js"></script>
    <script src="assest/js/sweet-alert.min.js"></script>
    
    <script src="assest/js/jquery.dataTables.min.js"></script>
    <script src="assest/js/dataTables.bootstrap4.min.js"></script>
    <script src="assest/js/moment.min.js"></script>
    <script src="assest/js/jquery.daterangepicker.min.js"></script>
    <script src="assest/js/chosen.jquery.js"></script>
    <script src="assest/js/script.js"></script>
    <script type="text/javascript">
      jq = jQuery.noConflict();
        jq(function(){
          jq(".inputFocus").focus();
        });
    </script>
    
<script type="text/javascript">
    
document.getElementById('cusEdit').onclick = function(){
    swal("Good job!", "You clicked the button!", "success");
};

</script>
<script type="text/javascript">
  // checkAll
  jq = jQuery.noConflict();
jq(document).ready(function () {
    jq('#selectall').click(function () {
        jq('.selectedId').prop('checked', this.checked);
    });

    jq('.selectedId').change(function () {
        var check = (jq('.selectedId').filter(":checked").length == jq('.selectedId').length);
        jq('#selectall').prop("checked", check);
    });
});

jq(document).ready(function () {
    jq('#selectall1').click(function () {
        jq('.selectedId1').prop('checked', this.checked);
    });

    jq('.selectedId1').change(function () {
        var check = (jq('.selectedId1').filter(":checked").length == jq('.selectedId1').length);
        jq('#selectall1').prop("checked", check);
    });
});
</script> -->
</div>