<div class="bg-light-blue">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light-yellow navbar-nav p-0"
    id="mainNav"
  >
    <a
      class="navbar-brand js-scroll-trigger pl-5 pr-3 pt-0 pb-0 dx-block"
      href="#page-top"
    >
      <img src="/assets/images/mtjh.png" class="logo" alt="logo" />
    </a>
    <div class="container-fluid">
      <a class="navbar-brand js-scroll-trigger mb-block pl-1" href="#page-top">
        <img src="/assets/images/mtjh.png" class="logo" alt="logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse pl-lg-0" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <span class="nav-link institute-title" href="#"
              >DUM DUM MOTIJHEEL COLLEGE
              <span class="sr-only">(current)</span></span
            >
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><img
                src="/assets/images/profile-pic.jpg"
                alt="profile pic"
                class="img-stu-profile"
              />
              Pritam Deb Nath
            </a>
            <small class="regNo">Department : Accounts</small>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#"
                >Sign Out <i class="fas fa-sign-out-alt"></i
              ></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- <section>
    <div class="container">
        <div class="row">
            <div class="col-12 dashboard-logo mt-3 text-center cus-wave">
                <img src="/assets/images/logo.png" alt="Logo" class="img-nta-logo">
                <span class="nta-logo-text">NTA e Solutions Private Limited</span>
            </div>
        </div>
    </div>
</section> -->
  <section class="stu-dashboard mt-5">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-10">
          <h5>
            <span class="float-right"
              ><a class="text-light btn mb-3" routerLink="/org">
                <i class="fas fa-tachometer-alt"></i> Dashboard
              </a>
            </span>
          </h5>
        </div>
        <div class="col-lg-10 offset-lg-1 col-sm-12">
          <div class="border-double">
            <form class="bg-light p-4" [formGroup]="addFeesHeadForm">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <h5 class="pb-3 pt-1 text-blue text-left text-capitalize">
                    <i class="fas fa-arrows-alt"></i> add fees head
                    <span class="float-right"
                      ><a
                        class="btn mb-3"
                        routerLink="/fees-management/fees-head"
                      >
                        <i class="fas fa-eye"></i> View
                      </a>
                    </span>
                  </h5>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <div
                    class="bg-light-yellow ml-1 mr-1 p-3 row position-relative"
                  >
                    <div class="col-lg-3 cl-sm-12 mb-3 form-group">
                      <label for="insType">Institution Type </label>
                      <select
                        class="form-control"
                        id="insType"
                        name="instituteType"
                        formControlName="instituteType"
                      >
                        <option *ngFor="let item of finalItems">
                          {{ item.instituteType.toString() }}
                        </option>
                        >
                      </select>
                    </div>
                    <div class="col-lg-5 cl-sm-12 mb-3 form-group">
                      <label for="feesHead">Fees Head</label>
                      <input
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="Demo tooltip text"
                        type="text"
                        name="feesHead"
                        id="feesHead"
                        class="form-control inputFocus"
                        placeholder="Fees Head"
                        required
                        minlength="1"
                        maxlength="50"
                        formControlName="feesHeadName"
                      />
                    </div>

                    <div class="col-lg-4 cl-sm-12 mb-3 form-group dropdown">
                      <label for="parentFees"> Parent Fees</label><br />
                      <button
                        class="btn form-control text-left bg-white dropdown-toggle"
                        type="button"
                        data-toggle="dropdown"
                      >
                        Select fees type
                        <span class="caret"></span>
                      </button>
                      <!-- <input
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="Demo tooltip text"
                        type="text"
                        name="parentFees"
                        id="parentFees"
                        class="form-control inputFocus"
                        placeholder="Parent Fees"
                        required
                        minlength="1"
                        maxlength="50"
                        formControlName="parentFees"
                      /> -->

                      <ul class="dropdown-menu">
                        <li>
                          <a href="#"
                            ><input
                              type="checkbox"
                              id="selectall"
                            />Organization</a
                          >
                          <ul class="list-style-none pl-3">
                            <li>
                              <a href="#"
                                ><input
                                  type="checkbox"
                                  class="selectedId"
                                  name="selectedId"
                                />
                                Library</a
                              >
                            </li>
                            <li>
                              <a href="#"
                                ><input
                                  type="checkbox"
                                  class="selectedId"
                                  name="selectedId"
                                />
                                Bill</a
                              >
                            </li>
                          </ul>
                        </li>

                        <div class="dropdown-divider"></div>

                        <li>
                          <a href="#"
                            ><input type="checkbox" id="selectall1" />Canteen</a
                          >
                          <ul class="list-style-none pl-3">
                            <li>
                              <a href="#"
                                ><input
                                  type="checkbox"
                                  class="selectedId1"
                                  name="selectedId1"
                                />
                                Cafeteria</a
                              >
                            </li>
                            <li>
                              <a href="#"
                                ><input
                                  type="checkbox"
                                  class="selectedId1"
                                  name="selectedId1"
                                />
                                Office</a
                              >
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div
                      class="col-lg-2 offset-lg-5 button-container mt-3 text-center"
                    >
                      <button
                        style="
                          background: linear-gradient(
                            180deg,
                            #f4bd22 50%,
                            #eeae20 50%
                          );
                          padding: 0.5rem;
                        "
                        type="button"
                        id="cusEdit"
                        class="btn btn-block btn-common-color btn-lg text-white"
                        [disabled]="!addFeesHeadForm.valid"
                        (click)="onSubmit()"
                      >
                        <span>
                          Add
                          <i class="fas fa-caret-right btn-style1"></i
                        ></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- add more row end-->
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer-bottom">
    <a href="#">
      <img
        src="/assets/images/float-support.png"
        alt="support"
        class="float-support"
      />
    </a>
    <a href="#"
      ><img src="/assets/images/float-chat.png" alt="chat" class="float-chat" />
    </a>
  </footer>
</div>
