<mat-card class="my-3">
    <h2>Settings</h2>
    <form [formGroup]="sixthFormGroup">
        <h4 class="my-2">Modules</h4>
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Modules</mat-label>
                    <mat-select multiple formControlName="moduleSelector" required>
                        <mat-option value="false" (onSelectionChange)="toggleAll($event)">Select All</mat-option>
                        <mat-option *ngFor="let module of modules" [value]="module">{{ module }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-card>
<div class="my-3 clearfix">
    <button mat-raised-button color='primary' matStepperPrevious class="back">Back Step</button>
    <button (click)="displayData()" [disabled]="!this.sixthFormGroup.valid" mat-raised-button color='primary'
        matStepperNext class="float-right next">
        Next Step
    </button>
</div>