<mat-card class="my-3">
    <form [formGroup]="fifthFormGroup">
        <h2>Master User</h2>
        <div class="row">
            <div class="col-4">
                <mat-form-field appearance='fill' class="w-100">
                    <mat-label>First Name</mat-label>
                    <input matInput pattern="^[a-zA-Z0-9. ,-]*$"
                     formControlName="firstName" required>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field appearance='fill' class="w-100">
                    <mat-label>Middle Name</mat-label>
                    <input matInput formControlName="middleName">
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field appearance='fill' class="w-100">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance='fill' class="w-100">
                    <mat-label>Email Address</mat-label>
                    <input matInput formControlName="emailAddress" required>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance='fill' class="w-100">
                    <mat-label>Phone Number</mat-label>
                    <input matInput formControlName="phoneNumber" required>
                </mat-form-field>
            </div>
        </div>
        <mat-radio-group (change)="mfaPassword($event)" formControlName="authType" aria-label="Select an option">
            <div class="row my-3">
                <div class="col-6">
                    <mat-radio-button value="mfa">
                        Multifactor Authentication</mat-radio-button>
                </div>
                <div class="col-6">
                    <mat-radio-button value="password">Password</mat-radio-button>
                </div>
            </div>
        </mat-radio-group>

        <div *ngIf="fifthFormGroup.controls.authType.value == 'password'" class="row">
            <div class="col-6">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="fifthFormGroup.controls.authType.value == 'password'" class="row">
            <div class="col-4">
                <app-password-strength [passwordToCheck]="fifthFormGroup.controls.password.value"></app-password-strength>
            </div>
            <div class="col-4">
                <div>
                    <small>&#8594; Password should contain <strong>capital letters</strong> and <strong>small letters.</strong></small>
                </div>
                <div>
                    <small>&#8594; Password should contain <strong>numbers.</strong></small>
                </div>
                <div>
                    <small>&#8594; Password should contain <strong>Symbols</strong> such as <strong>@!-$_#.</strong></small>
                </div>
            </div>
            <div *ngIf="!compareTwoPassword()" class="col-4">
                <p style="color: red;"><strong>Password</strong> and <strong>Confirm Password</strong> do not match!!</p>
            </div>
        </div>
    </form>
</mat-card>
<div class="my-3 clearfix">
    <button mat-raised-button color='primary' matStepperPrevious class="back">Back Step</button>
    <button (click)="displayData()" [disabled]="!this.fifthFormGroup.valid && !this.authTypeCompare()" mat-raised-button color='primary' matStepperNext
        class="float-right next">
        Next Step
    </button>
</div>
